//	Variables
//--------------------------------------*/

// Define Colors
$white:					white(0.98);
$dark-gray:				#666;
$light-gray: 			#999;
$gray-blue:				#d0e2ee;
$light-blue:				#007aaa;
$ligher-blue:			#99dbf5;
$ucla-blue:				#347bad;
$dark-blue:				#1e4b87;
$sky-blue:				#e5f6fc;
$dark-yellow:			#f5a623;

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$ucla-blue;
$primary-light:			tint($primary, 30%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$dark-blue;
$secondary-light: 		tint($secondary, 73% );
$secondary-dark: 		darken($secondary, 15% );

// Text Colors
$text-color:			rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$link-color:			$light-blue;
$link-hover-color:		darken($link-color, 12%);
$link-visited-color:	$link-hover-color;

// Other
$header-color:			$dark-blue;
$blockquote-color:		$dark-blue;
$border-color:			$gray-blue;
$hero-border-color:		$light-blue;
$paragraph-bg:			$sky-blue;
$header-links:			$text-color;
$footer-links:			$white;
$btn-color:				$light-blue;
$btn-hover-color:		$dark-blue;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$primary;
$background-color:		$primary-light;
$bullet-point:			$secondary;
$bg-light-color:		rgba(black, .03);
$bg-dark-color:			rgba(black, .06);

//	Numbers
//--------------------------------------*/

// Set height of hero on homepage
$home-hero-height: 		550px;

// Global border radius
$radius:				15px;

// Site width
$site-width:			940px;