/*	Slider
/*--------------------------------------*/

.bx-wrapper {
	height: $home-hero-height!important;
	position: relative;
	margin: 0 auto 40px;
	padding: 0;
	*zoom: 1;
	float: left;
	clear: both;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
#bxslider {
	margin-top: 0;
}
#slider {
	width: 100%;
	float: left;
	clear: both;
	margin: 0;
	
	li {
		height: $home-hero-height;
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		background-position: center bottom;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		position: relative;
	}
	.bg {
		width: 100%;
		height: $home-hero-height;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	}
	.slider-content a {
		color: $text-color!important;
		font-weight: normal;
	}
	.slider-content p {
		font-size: 12px;
		line-height: 18px;
	}
	.content {
		margin: 0 auto;
	}
	.hero-description {
		width: auto;
		
		.content {
			float: left;
		}
	}
}
@media only screen and (min-width: 961px) and (max-width: 1120px) {
	#slider {		
		.hero-description {
			width: 80%!important;
			left: 0;
			right: 0;
			
			h2 {
				width: 100%;
			}
			p {
				width: 100%;
			}
			.content {
				width: 100%!important;
			}
		}
	}
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
	background: url(../images/arrow-left.png) no-repeat center left;
	left: 50px;
	opacity: .5;
	@include transition(all 0.24s ease-in-out);
}
.bx-wrapper .bx-next {
	background: url(../images/arrow-right.png) no-repeat center right;
	right: 50px;
	opacity: .5;
	@include transition(all 0.24s ease-in-out);
}
.bx-wrapper .bx-prev:hover {
	opacity: 1;
}
.bx-wrapper .bx-next:hover {
	opacity: 1;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 42%;
	outline: 0;
	width: 55px;
	height: 90px;
	z-index: 9999;
	text-indent: -9999px;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 0px;
  margin-top: -40px;
  position: relative;
  width: $site-width;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border: 1px #ffe800 solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #ffe800;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* Study Abroad Page */
.page-id-1311 #slider {
	width: 340px;
	height: 270px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.page-id-1311 #slider .bx-wrapper {
	height: 270px!important;
}
.page-id-1311 #slider li {
	width: 340px;
	height: 270px;
}
.page-id-1311 .bx-wrapper .bx-pager {
	display: none;
}
.bx-wrapper .bx-prev {
	left: 10px;
}
.bx-wrapper .bx-next {
	right: 10px;
}