/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}
header {
	background: url('../img/fukuro-yamabushi.jpg') no-repeat left top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
	box-shadow: inset 0 -40px 80px 60px rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	padding: 40px;
}
.main {
	width: 65%;
	float: left;
	clear: left;
	padding-bottom: 20px;
}
.content {
	width: 960px;
	margin: 0 auto;
}
ul.gallery, figure {
	margin: 0;
	padding: 0;
}
ul.gallery {
	margin-bottom: 20px;
}
ul.gallery li {
	list-style: none;
	margin: 0;
	padding: 2px;
	display: inline-block;
}
img.full {
	width: 100%;
	height: auto;
}
aside {
	width: 30%;
	float: right;
	clear: right;
}
aside ul {
	margin-left: 15px;
	padding: 0;
}
aside iframe {
	width: 100%;
}
aside h2 {
	margin-top: 40px;
}
footer {
	background: #347bad;
	color: white;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	clear: both;
}
footer a {
	color: white!important;
	text-decoration: underline;
}
hr {
	margin: 40px 0;
}
a:link {
	color: #00a5e5;
	transition: all 0.24s ease-in-out;
}
a:hover, a:visited, a:active {
	color: #0084b7;
}
a.btn {
	display: inline-block;
	min-width: 200px;
	padding: 15px 0;
	margin-bottom: 20px;
	text-align: center;
	background: #00a5e5;
	color: white;
	text-decoration: none;
	font-weight: 600;
}
a.btn:hover {
	background: #0084b7;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 2.5em;
	line-height: 1em;
	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}
h1 span {
	font-size: .7em;
	font-weight: 500;
}
h1 span strong {
	font-weight: 700;
}
h1 a {
	color: white!important;
	text-decoration: underline;
}
.main h2 {
	font-size: 2em;
}
h3 span {
	font-weight: 400;
}
.sponsors {
	text-align: center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}