/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1.  Main Containers
	2.  Header
	3.  Navigation
	4.  Footer
	5.  Homepage
	6.  Person Page
	7.  People Archive
	8.  Books
	9.  Articles/Posts
	10. Other
	========================================================================== */
   
/*	1. Main Containers
/*--------------------------------------*/

body {
	background-color: white;
}
#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 318px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
	@include vendor-prefix('box-shadow', 'inset 0 -40px 80px 60px rgba(0,0,0,0.14)');
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin:  10px 0 30px 20px;
}
.page-template-page-full .col {
	width: 100%;
}
#grad-section {
	.col {
		width: 400px;
	}
	.col + .col {
		margin-left: 50px;
		width: 220px;
	}
}

/*	2. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		.dept-logo { 
			width: 690px;
			display: inline-block;
			margin: 0;
			text-align: center;
			
			// For retina, upload image 2x larger and resize here
			img {
				width: 581px;
				height: auto;
			}
		}
		h1.logo-text {
		    font-weight: 600;
		    text-transform: uppercase;
		    margin-top: 15px;
		    font-size: 3.2em;
		    color: $text-color;
		}
	}
	.logos {
		float: left;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 730px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support {
			font-size: .8em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
		
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: 38px;
	}
}
.breadcrumbs {
	background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: $white;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	a {
		font-weight: 600;
		color: $white;
		text-decoration: underline;
	}
}

/*	3. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 5px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $light-blue;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			font-family: "Font Awesome 5 Free";
			content: "\f0d7";
			color: rgba(black, .6);
			padding-left: 3px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		background: none;
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .8em;
	}
	a, a:link {
		color: $text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;
	margin-top: 0;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
		
		li {
			margin-bottom: 5px;
		}
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $raleway;
			font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	nav.page-nav .current_page_item .sub-menu, 
	nav.page-nav .current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}
	.sub-menu li {
		list-style: disc;
	}
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}
#grad-section {
	.page-nav + .grad-news {
		margin-top: 40px;
		
		li {
			margin-bottom: 10px;
		}
	}
}

/*	4. Footer
/*--------------------------------------*/

footer {
	background-color: $primary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		.footer-nav {
			clear: left;
			float: left;
		}
		.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
		li {
			padding: 0;
		}
	}
	// Hiding and only showing on mobile
	.search-form, .mobile-social-nav {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo {
			float: left;
			margin-top: 5px;
			display: block;
			
			img {
				width: 100px;
				height: auto;
			}
		}
		p {
			float: right;
			margin: 0;
			width: 87%;
		}
		.divider {
			margin: 0 5px;
		}
		.about-dept, .adr, .uc-copy {
			display: block;
		}
		a, a:link, a:visited {
			color: $white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	5. Homepage
/*--------------------------------------*/

.home {
	#hero {
		height: $home-hero-height;
		margin: 0 0 40px 0;
		
		.content {
			width: 100%;
			height: $home-hero-height;
			position: relative;
			
			&.text {
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
			}
		}
		.hero-description .content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
	}
	.hero-description {
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		h2 {
			font-size: 2em;
			max-width: $site-width;
			margin: 0 auto;
			font-weight: 600;
		}
		p {
			font-size: 1.2em;
			max-width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		.outline {
			margin-top: 35px;
			min-width: 106px;
		}
		.left {
			text-align: left;
			
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			button {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
	}
}
.home .col {
	float: left;
	
	ul, ol {
		margin: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		@extend %clearfix;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		font-weight: normal;
		color: $text-color;
		display: block;
		font-size: .93em;
		line-height: 1.6em;
	}
	span.description {
		margin-bottom: 10px;
	}
	.category-list {
		display: block;
		line-height: 1em;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
		&.one p {
			font-size: .93em;
		}
	}
	&.news-col, &.events-col {
		li {
			padding: 0;
			clear: both;
		}
		.category a {
			font-size: .75em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: .05em;
			display: inline-block;
			font-weight: 700;
		}
		img {
			margin: 3px 20px 20px 0;
			float: left;
		}
		&.one {
			.item {
				width: auto;
			}
		}
		&.two {
			.images .item {
				float: left;
				width: 330px;
			}
			.images + .btn {
				margin-left: 130px;
			}
		}
		&.three {
			.images .item {
				float: left;
				width: 570px;
			}
			.images + .btn {
				margin-left: 130px;
			}
		}
	}
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.5em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		.category {			
			a {
				font-size: .75em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: .05em;
				display: inline-block;
				font-weight: 700;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		.item {
			margin-bottom: 20px;
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people_type {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link, .download {
	.fas {
		font-size: .8em;
		margin-right: 5px;
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	text-align: center;
	float: left;
	clear: both;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.general-filters {
	margin-bottom: 30px;
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		min-width: 110px;
		padding-top: 6px;
		padding-bottom: 6px;
		letter-spacing: 0;
		
		& + button {
			margin-left: 5px;
		}
	}
	button.all {
		min-width: 100px;
	}
}
.field-filters button {
	margin-bottom: 10px;
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;
	overflow: hidden;

	ul {
		margin: 30px 0;
		padding: 0;
		float: left;
		@extend %clearfix;
	}
	li {
		list-style: none;
		height: 260px;
		margin: 0;
		padding: 0;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0;
		width: 210px;
		height: 260px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
			}
			.name {
				color: $link-color;
			}
		}
		.photo {
			border: 7px solid white;
			width: 100px;
			height: 100px;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 55px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			text-transform: uppercase;
			color: $text-color;
			letter-spacing: 1px;
		}
		.interest, .duration {
			font-size: .8em;
			color: $text-color;
			line-height: 1em;
			margin-top: 10px;
		}
		.position {
			color: $secondary-text-color;
			font-style: italic;
			margin-bottom: 0;
		}
		.email, .office, .office-hours, .phone {
			font-size: .8em;
			margin-bottom: 0;
			color: $text-color;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Grad Student Page */
.term-grad .people-list ul {
	width: 700px;
}
.term-grad .people-list li {
	width: 700px;
	height: auto;
	line-height: 26px;
	float: none;
	margin: 0 110px;
}
.term-grad .people-list li:hover {
	background: none;
}
.term-grad .people-list li .bio {
	text-align: left;
}
.term-grad .people-list li dd {
	/*text-align: left;*/
	margin: 0;
}
.term-grad .people-list .interest {
	font-size: 14px;
	color: #222;
	line-height: 26px;
}
.term-grad .people-list .name {
	color: $dark-blue;
	font-size: 30px;
	font-weight: normal;
	/*text-align: left;*/
}
.term-grad .people-list .email a {
	background: url('../images/email-icon.png') no-repeat left center;
	font-size: 14px;
	padding-left: 25px;
}


.term-emeriti .people-list ul {
	width: 700px;
}
.term-emeriti .people-list li {
	width: 700px;
	height: auto;
	line-height: 26px;
	float: none;
	margin: 0 110px;
}
.term-emeriti .people-list li:hover {
	background: none;
}
.term-emeriti .people-list li .bio {
	text-align: left;
}
.term-emeriti .people-list li dd {
	/*text-align: left;*/
	margin: 0;
}
.term-emeriti .people-list .interest {
	font-size: 14px;
	color: #222;
	line-height: 26px;
}
.term-emeriti .people-list .name {
	color: $dark-blue;
	font-size: 30px;
	font-weight: normal;
	/*text-align: left;*/
}
.term-emeriti .people-list .email a {
	background: url('../images/email-icon.png') no-repeat left center;
	font-size: 14px;
	padding-left: 25px;
}

/* Staff */
.term-staff .people-list li:hover {
	background: none;
}
.term-staff .people-list .name {
	color: $text-color;
}
.term-staff .people-list .email a {
	background: url('../images/email-icon.png') no-repeat left center;
	font-size: 14px;
	padding-left: 25px;
}
.term-staff .people-list .position {
	margin-top: 10px;
}

/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid $white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: $white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
	}
}
.single .entry-content .wp-post-image {
	float: left;
	margin: 20px 20px 0 0;
}
.single .entry-content .wp-post-image.size-bones-thumb-640 {
	float: none;
	margin: 0;
}
.news-feed {
	margin-bottom: 40px;
}
.col + .side {
	width: 220px;
	margin-left: 80px;
}
article .tags {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid $text-color;
}
article .post-details {
	margin-bottom: 20px;
}
.tags {
	margin-bottom: 20px;
}
/*.widget_tag_cloud .tagcloud {
	margin-bottom: 10px;
}
.widget_tag_cloud .tagcloud a {
	font-size: 14px!important;
}*/

/*	10. Other
/*--------------------------------------*/

.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Courses */
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding: 0;
	}
	h3 {
		font-size: 1.75em;
		line-height: 1.2em;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 0 10px 15px;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			position: absolute;
			top: 2px;
			left: -15px;
			@include transition(all 0.24s ease-in-out);
		}
		&[aria-expanded=true] .fas {
			transform: rotate(90deg);
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 100em;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px 10px 10px 30px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	@include transition(all 0.24s ease-in-out);
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			font-size: .8em;
			left: -20px;
			top: 4px;
		}
		&[aria-expanded=true] .fas {
			transform: rotate(135deg);
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& > * {
		margin: 1.5em 20px;
	}
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
}

/* Images/Galleries/Fancybox */
article img {
	max-width: 100%;
	height: auto;
}
img.alignleft, figure.alignleft { 
	float: left;
	margin: 15px 15px 15px 0;
}
img.alignright, figure.alignright { 
	float: right;
	margin: 15px 0 15px 15px;
}
img.aligncenter, figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
		text-align: center;
		margin: 0 auto;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
.fancybox-container .fancybox-toolbar {
	top: 60px;
}

/* Friends of ALC */
.page-id-1261 {
	aside {
		float: right;
		width: 250px;
		clear: none;
	}
	aside div {
		margin-bottom: 10px;
	}
	aside div img {
		margin-bottom: -7px;
	}
	section {
		width: 370px;
		float: left;
	}
	.friends-footer {
		clear: both;
		width: 100%;
	}
	.friends-footer div {
		width: 157px;
		overflow: hidden;
		float: left;
	}
	.friends-footer div + div {
		margin-left: 4px;
	}
}

/* Innerpage Columns */
.page-template-page-columns .col {
	width: $site-width;
}
section.full {
	width: $site-width;
}
.col-container {
	clear: both;
	float: left;
	width: $site-width;
}
.left-col, .right-col {
	float: left;
	width: 460px;
}
.right-col {
	clear: right;
	margin-left: 20px;
}

/*	Color Palette
/*--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: $white;
}